h1 {
   text-align: center; 
}

.images {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
}

button {
    background-color: dimgrey;
    color: beige;

    border-radius: 10px;
    border: 0px;
    padding: 10px;
}